<h2>Feed</h2>
<% @questions.each do |question| %>
<ul>
<li><%= link_to question.title, question_path(question), id: "new_link", remote: true %> </li>
</ul>
<% end %>

<div class="container">
  <ul id="all_questions">
    <%= render @questions.reverse %>
  </ul>
</div>

<%= link_to "Back to Home", "/" %>
