<h1>Stock Overflow</h1>

<h2>Feed</h2>
<% @questions.each do |question| %>
<ul>
<li><%= link_to question.title, question_path(question) %> </li>
</ul>
<% end %>
<%= link_to "Create a user", new_user_registration_path %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "New Question", new_question_path %>
